doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    | !{ livereloadScript }
    title= page.title
    link(rel='stylesheet', href='css/mozdoc/style.css')
    link(rel='stylesheet', href='css/mozdoc/octicons/octicons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,600italic,300italic,700italic')
    link(rel='stylesheet', href='css/style.css')

  body
    div.container
      header
        h1= page.title

        div.version-info
          if revisionsLink
            div.version-info-history
              span.octicon.octicon-mark-github
              a(href=revisionsLink).version-info-history-link Revision History
          if branches
            span.octicon.octicon-git-branch
            if serving
              select.version-info-select(disabled= serving == true, title="Branch selection not available when running 'mozdoc serve'")
                option= currentBranch
            else
              select.version-info-select(disabled= serving == true)
                each branch in branches
                  option(value="../" + branch + "/index.html", selected= currentBranch == branch)
                    = branch

      ul#toc
      != page.html

      div.footer
        hr
        p Mozilla 2014.

  script(src='https://code.jquery.com/jquery-1.11.0.min.js')
  script(src='js/mozdoc/jquery.tableofcontents.min.js')
  script(src='js/mozdoc/ddscrollspy.js')
  script(src='js/mozdoc/app.js')
